body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  line-height: 1.5rem;
  text-align: center;
}

img {
  border-radius: 10px;
  max-width: 240px;
}

h3 {
  font-weight: bold;
  color: hsl(218, 44%, 22%);
}

p {
  color: hsl(220, 15%, 55%);
}

.container {
  position: fixed;
  left: 10%;
  right: 10%;
  top: 25%;
}

.white-box {
  border-radius: 25px;
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  max-width: 240px;
  margin: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
